author: {{ author }}
book_id: "{{ modid }}:{{ book_id_path }}"
default_branch: {{ default_branch }}
github_repo: {{ github_repo }}
gradle_mod_version_key: modVersion
hexdoc_mod_plugin_classname: {{ classname }}ModPlugin
hexdoc_plugin_classname: {{ classname }}Plugin
java_lang:
  ext: java
  src: java
java_package: {{ package_path }}
mod_display_name: {{ display_name }}
modid: {{ modid }}
multiloader: true
pages_url: https://{{ author|lower }}.github.io/{{ github_repo }}
pattern_regex:
  regex: '(?P<is_per_world>register|registerPerWorld)\(HexPattern\.fromAngles\("(?P<signature>[qweasd]+)",\s*HexDir\.(?P<startdir>\w+)\),\s*"(?P<name>[^"]+)"?'
  per_world_value: registerPerWorld
pattern_registry: registry/{{ classname }}PatternRegistry.java
