pluginManagement {
    repositories {
        maven { url "https://maven.fabricmc.net/" }
        maven { url "https://maven.architectury.dev/" }
        maven { url "https://maven.minecraftforge.net/" }
        gradlePluginPortal()
    }
}

include("{{ common_path }}")
include("{{ fabric_path }}")
include("{{ forge_path }}")

rootProject.name = "{{ modid }}"
