{
  "schemaVersion": 1,
  "id": "{{ modid }}",
  "version": "${version}",
  "name": "{{ display_name }}",
  "description": "{{ description }}",
  "authors": [
    "{{ author }}"
  ],
  "contact": {
    "homepage": "{{ homepage_url }}",
    "sources": "{{ sources_url }}"
  },
  "license": "MIT",
  "icon": "icon.png",
  "environment": "*",
  "entrypoints": {
    "main": [
      "{{ package }}.fabric.{{ classname }}Fabric"
    ],
    "client": [
      "{{ package }}.fabric.{{ classname }}ClientFabric"
    ]
  },
  "mixins": [
    "{{ modid }}-common.mixins.json",
    "{{ modid }}.mixins.json"
  ],
  "depends": {
    "minecraft": ">=1.19.2",
    "fabricloader": ">=0.14.21",
    "fabric-api": "*",
    "fabric-language-kotlin": ">=1.9.0+kotlin.1.8.0",
    "architectury": ">=6.5.85",
    "hexcasting": ">={{ hexcasting_version }}"
  }
}
