package {{ package }}.forge;

import {{ package }}.{{ classname }}Abstractions;
import net.minecraftforge.fml.loading.FMLPaths;

import java.nio.file.Path;

public class {{ classname }}AbstractionsImpl {
    /**
     * This is the actual implementation of {@link {{ classname }}Abstractions#getConfigDirectory()}.
     */
    public static Path getConfigDirectory() {
        return FMLPaths.CONFIGDIR.get();
    }
}
