package {{ package }}.forge;

import dev.architectury.platform.forge.EventBuses;
import {{ package }}.{{ classname }};
import net.minecraftforge.eventbus.api.IEventBus;
import net.minecraftforge.fml.common.Mod;
import net.minecraftforge.fml.javafmlmod.FMLJavaModLoadingContext;

/**
 * This is your loading entrypoint on forge, in case you need to initialize
 * something platform-specific.
 */
@Mod({{ classname }}.MOD_ID)
public class {{ classname }}Forge {
    public {{ classname }}Forge() {
        // Submit our event bus to let architectury register our content on the right time
        IEventBus bus = FMLJavaModLoadingContext.get().getModEventBus();
        EventBuses.registerModEventBus({{ classname }}.MOD_ID, bus);
        bus.addListener({{ classname }}ClientForge::init);
        {{ classname }}.init();
    }
}
