{
  "required": true,
  "package": "{{ package }}.mixin",
  "compatibilityLevel": "JAVA_{{ java_version }}",
  "minVersion": "0.8",
  "client": [
    "{{ classname }}Mixin"
  ],
  "mixins": [
  ],
  "injectors": {
    "defaultRequire": 1
  }
}