{
  "name": "{{ modid }}.entry.dummy_actions",
  "category": "hexcasting:patterns",
  "icon": "minecraft:birch_sign",
  "sortnum": 0,
  "advancement": "hexcasting:root",
  "read_by_default": true,
  "pages": [
    {
      "type": "hexcasting:pattern",
      "op_id": "{{ modid }}:signum",
      "anchor": "{{ modid }}:signum",
      "input": "number",
      "output": "number",
      "text": "{{ modid }}.page.dummy_actions.signum"
    }
  ]
}