package {{ package }}.fabric;

import net.fabricmc.api.ClientModInitializer;
import {{ package }}.{{ classname }}Client;

/**
 * Fabric client loading entrypoint.
 */
public class {{ classname }}ClientFabric implements ClientModInitializer {
    @Override
    public void onInitializeClient() {
        {{ classname }}Client.init();
    }
}
