package {{ package }}.fabric;

import net.fabricmc.loader.api.FabricLoader;
import {{ package }}.{{ classname }}Abstractions;

import java.nio.file.Path;

public class {{ classname }}AbstractionsImpl {
    /**
     * This is the actual implementation of {@link {{ classname }}Abstractions#getConfigDirectory()}.
     */
    public static Path getConfigDirectory() {
        return FabricLoader.getInstance().getConfigDir();
    }
}
